<ion-view title="Data: {{aluno.dataSelecionada|date:'dd/MM/yyyy'}}" ng-controller="lancarAlunoFrequenciaController as aluno" cache-view="false">
		<ion-nav-buttons side="left">
			<button class="button icon-left ion-arrow-left-c button-clear" ng-click="aluno.voltar('listarAula')" ng-hide="aluno.isMenuAberto()" >
	      </button>
	      <img class="icon-stroke" ng-src="img/logo-stroke.png"/>
		</ion-nav-buttons>
		<ion-nav-buttons side="secondary">
			 <button menu-toggle="right" class="button button-icon icon ion-navicon button-clear" ng-click="aluno.abrirMenu()"></button></button>
		</ion-nav-buttons>
    	<div class="bar bar-subheader item-input-inset bar-positive">
  			<ion-input class="item-input-wrapper">
    			<i class="icon ion-ios-search placeholder-icon"></i>
    			<input type="search" placeholder="Pesquisar aluno" ng-model="aluno.txtBusca">
   			</ion-input>
		</div>		
		<ion-content class="has-header gradiente" scroll="false" padding="true" style="margin-top:36px">
			<ion-checkbox  ng-model ="aluno.apontamentoConcluido" 
			    ng-click="aluno.concluirApontamento(aluno.apontamentoConcluido)" 
			    class="item iitem-text-wrap" 
			    style="font-size:14px">
       					Concluir apontamento
			</ion-checkbox>
		</ion-content>	
		<ion-content padding="true"  scroll="true" style="margin-top:87px" class="gradiente">
				<ion-list>
	 				<ion-item class="item" collection-repeat="item in aluno.alunos|filter:aluno.txtBusca" ng-click="aluno.marcarFaltaJustificada(aluno.dadosTurma, item)">
            <button class="button lancamento_seta" ng-click="aluno.lancarFrequencia(item.id_aluno_matricula); $event.stopPropagation();"><i class="ion-chevron-right"></i></button>
            <div class="lancamento_nome" >{{item.chamada}} - {{item.nome}}</div>
            <div class="assertive" ng-hide="aluno.verificarFalta(item.flg_possui_falta)">ausente</div> 
            <div class="balanced" ng-show="aluno.verificarFalta(item.flg_possui_falta)">presente </div>
          </ion-item>
        </ion-list>
		</ion-content>
</ion-view>


