/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;
$positive:                          #00307b !default; 

.gradiente{
	background: radial-gradient(#ecf1f4 32%,#d2e7f8);
}

/* Lista de alunos para lancamento de frequencia */
.lancamento_seta {
  float: right; 
  font-size: 24pt; 
  padding: 4px 0px 0px 8px;
  margin-right: -6px;
}
.lancamento_nome {
  text-overflow: ellipsis; 
  white-space: nowrap; 
  overflow: hidden;
}

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

/*
 styles do Date Picker da hora 
*/

.color_blue {
  /*color: rgb(56, 126, 245) !important;*/
  color: $positive !important;
}

.bg_color_blue {
  /*background-color: rgb(56, 126, 245);*/
  background-color: $positive;
}

.date_col:hover {
  background-color: rgba(56, 126, 245, 0.5);
  cursor: pointer;
}

.date_col:active {
  background-color: $positive;
  /*background-color: rgba(56, 126, 245, 1);*/
  cursor: pointer;
}

.no_padding {
  padding: 0;
}

.date_cell {
  padding: 5px;
}

.error_msg {
  color: #cc0000 !important;
  font-size: 12px;
}

.date_selected {
  /*background-color: rgba(56, 126, 245, 1) !important;*/
  color: white;
  background-color: $positive !important;
}

.today {
  background-color: rgba(186, 186, 186, 1);
}

.pointer_events_none {
  pointer-events: none !important;
  color: #AAAAAA;
}

.select_section{
  padding: 0;
}
.select_section label {
  padding: 12px;
}

.select_section select {
  font-size: 12px;
  font-weight: bold;
  padding: 3px;
  direction: ltr;
  left: 0;
  width: 100%;
  max-width: 100%;
}

.select_section .item-select:after {
  right: 4px;
  border-top: 4px solid;
  border-right: 4px solid rgba(0, 0, 0, 0);
  border-left: 4px solid rgba(0, 0, 0, 0);
}

/*
 fim dos styles do Date Picker da hora 
*/

// eu sei sass muaahahahah
// esse mixin é usado declarado aqui e usado embaixo  onde tem o @include
// pode ser qualquer nome na verdade 

@mixin img($margin-top, $margin-bottom){
	display:block;
	margin-top:$margin-top;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:$margin-bottom;
}

.logo-inicio{
	@include img(10px,20px);
	width:75%;
}

.logo-loading{
	@include img(50%,20px);
	width:75%;
}

.avatar-professor{
	@include img(10px,20px);
	border-radius:50%;
	
}

@mixin h-dados-professor{
	text-align:center;
}

// aninhamento de sass equivalente  a .dados-professor [elemento]
.dados-professor{
	h3{
		@include h-dados-professor;
	}
	
	h4{
		@include h-dados-professor;
	}
}

 .icon-stroke{
	width:30px;
	height:34px;
 }
 
 .loading{
 	background: radial-gradient(#ecf1f4 32%,#d2e7f8);
 	    height: 100%;
    	margin: auto;
 }
 
 .carregando-mensagem{
 	color:$positive!important;
 }
 .loading-container.active{
 	background: radial-gradient(#ecf1f4 32%,#d2e7f8);
 
 }  