	<div class="row" >
		<div class="col"><b>{{horarioFalta.horarioInicio | date:'hh:mm' }} - {{horarioFalta.horarioFim | date:'hh:mm' }}</b></div>
	</div>
	<ion-checkbox ng-model="horarioFalta.faltaNaoJustificada" ng-click="horarioFalta.marcarFalta(horarioFalta.ID_FALTA_NAO_JUSTIFICADA,horarioFalta.faltaNaoJustificada, horarioFalta.turmaSelecionada)">Falta não justificada</ion-checkbox>
	<ion-checkbox ng-model="horarioFalta.faltaJustificada" ng-click="horarioFalta.marcarFalta(horarioFalta.ID_FALTA_JUSTIFICADA,horarioFalta.faltaJustificada,horarioFalta.turmaSelecionada )">Falta justificada</ion-checkbox>
	<div class="list" ng-show="horarioFalta.faltaJustificada">
	  	<label class="item item-input item-select">
	    	<div class="input-label">Motivo:</div>
	    		<select ng-model="horarioFalta.motivoSelecionado" ng-options=" motivo.id_motivo_falta_justificada as  motivo.descricao for motivo in horarioFalta.motivos" ng-change="horarioFalta.setMotivo(horarioFalta.motivoSelecionado, horarioFalta.turmaSelecionada)"></select>
	  	</label>
	</div>
	
