    
	<ion-header-bar  class="bar-positive"><h1 class="title" >Sucesso</h1></ion-header-bar>
    <ion-list style = "margin-left:2%;width:96%">
      <ion-item  class="item item-text-wrap" style = "margin-left:2%;width:96%;margin-top: 30px; ">Apontamento diário concluído.<br>
        O que deseja fazer a seguir?</ion-item>
	</ion-list>
	<div class="spacer" style="height:15px"></div>
	<button class="button button-full  button-positive"  style = "margin-left:2%;width:96%"ng-click="fechar('listarModulo')">
	  	Voltar ao início
	</button>
	<button class="button button-full button-positive" style = "margin-left:2%;width:96%" ng-click="fechar('listarTurma')" ng-show="mostrarTurma">
		Selecionar outra turma
	</button>
	<button class="button button-full button-positive"  style = "margin-left:2%;width:96%"  ng-click="fechar('listarAula')">
		 Selecionar outra data
	</button>
	<button class="button button-full button-positive"  style = "margin-left:2%;width:96%"  ng-click="fechar('lancarAlunoFrequencia')">
		 Permanecer na turma
	</button>
