<ion-view title="Selecione a Unidade" ng-controller="listarUnidadeController as unidade " cache-view="false">
    <ion-nav-buttons side="left">
		<button class="button icon-left ion-arrow-left-c button-clear"  ng-click="unidade.voltar(unidade.backView)" ng-hide="unidade.isMenuAberto()"></button>
		<img class="icon-stroke" ng-src="img/logo-stroke.png"/>
	</ion-nav-buttons>
    <ion-nav-buttons side="secondary">
    	<button class="button icon-left ion-navicon button-clear" ng-click="unidade.abrirMenu()"></button>
    </ion-nav-buttons>
    <div class="bar bar-subheader item-input-inset bar-positive">
  		<ion-input class="item-input-wrapper">
    		<i class="icon ion-ios-search placeholder-icon"></i>
    		<input type="search" placeholder="Pesquisar escola por nome" ng-model="unidade.txtBusca">
   		</ion-input>
	</div>
	<ion-content scroll="true" padding="true"  style="margin-top:34px" class="gradiente">	
		<ion-list>
			<ion-item class="item item-text-wrap" collection-repeat="item in unidade.unidades |filter:unidade.txtBusca" item-height="80px"  ng-click="unidade.recuperarTurmas(item.id_unidade_funcional)">
					<div>{{item.codigo}} - {{item.nome}}</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
