<ion-view title="Dados do Aluno" ng-controller="informacoesAlunoController as informacoes">
	<ion-nav-buttons side="left">
		<button class="button icon-left ion-arrow-left-c button-clear"  ng-click="informacoes.voltar('lancarFrequencia')" ng-hide="informacoes.isMenuAberto()" ></button>
		<img class="icon-stroke" ng-src="img/logo-stroke.png"/>
	</ion-nav-buttons>
    <ion-nav-buttons side="secondary">
    	<button class="button icon-left ion-navicon button-clear" ng-click="informacoes.abrirMenu()"></button>
    </ion-nav-buttons>
    <ion-content padding="true">
    	<h3>{{informacoes.aluno.nome}}</h3>
    	<div class="button-bar">
	  		<a class="button button-positive" ng-click="informacoes.mostrar(informacoes.DADOS_MATRICULA)">Matrícula</a>
	  		<a class="button button-positive" ng-click="informacoes.mostrar(informacoes.DADOS_PESSOAIS)">Pessoal</a>
	  		<!--  <a class="button button-positive" ng-click="informacoes.mostrar(informacoes.DADOS_FREQUENCIA)">Faltas</a>-->
      </div>
      <dados-matricula-directive id-aluno-matricula="{{informacoes.id_aluno_matricula}}" ng-show="informacoes.isMostrarMatricula"></dados-matricula-directive>
      <dados-pessoais-directive id-aluno-matricula="{{informacoes.id_aluno_matricula}}" ng-show="informacoes.isMostrarPessoais"></dados-pessoais-directive>
      <dados-frequencia-directive id-aluno-matricula="{{informacoes.id_aluno_matricula}}" ng-show="informacoes.isMostrarFrequencia"></dados-frequencia-directive>
    	<a class="button button-positive button-block" ng-click="informacoes.voltar('lancarFrequencia')">Voltar</a>
    </ion-content>
</ion-view>
