<ion-view title="Identifique-se" cache-view="false">
    <ion-content padding="true" scroll="true" class="has-header gradiente">
        <div ng-controller="loginController as login">
        	<img ng-src="img/logo.svg" class="logo-inicio">
	        <form class="list">
	            <ion-input class="item item-input">
	                <input type="text" placeholder="Usuario" ng-model="login.usuario.login"  ng-keydown="login.usuarioPressionado($event)"  ng-focus="login.focalizarSenha = false"/>
	            </ion-input>
	            <ion-input class="item item-input">
	                <input type="password" placeholder="Senha" ng-model="login.usuario.senha" ng-keydown="login.senhaPressionado($event, login.usuario)" focus-directive="login.focalizarSenha"/>
	            </ion-input>
	        </form>
	        <a class="button button-positive button-block " ng-click="login.autenticar(login.usuario)" ng-model="login.btnEntrar">Entrar</a>
        </div>
    </ion-content>
</ion-view>