<ion-view title="Esqueceu a senha">
    <ion-content padding="true" scroll="false" class="has-header">
        <div class="spacer" style="width: 300px; height: 25px;"></div>
        <div ng-controller="esqueceuSenhaController as login">
	        <form class="list">
	            <ion-input class="item item-input">
	                <input type="text" placeholder="Usuario" ng-model="login.usuario">
	            </ion-input>
	            <ion-input class="item item-input">
	                <input type="text" placeholder="Email" ng-model="login.email">
	            </ion-input>
	        </form>
	        <a class="button button-positive button-block " ng-click="login.enviar()">Enviar</a>
	        <div class="spacer" style="width: 300px; height: 152px;"></div>
	        <a class="button button-positive button-clear button-block" ng-click="login.voltar()">Voltar Para login</a>
        </div>
    </ion-content>
</ion-view>