<ion-view title="Selecione a Data" ng-controller="listarAulaController as aluno">
		<ion-nav-buttons side="left">
			<button class="button icon-left ion-arrow-left-c button-clear"  ng-click="aluno.voltar(aluno.backView)" ng-hide="aluno.isMenuAberto()"></button>
			<img class="icon-stroke" ng-src="img/logo-stroke.png"/>
		</ion-nav-buttons>
		<ion-nav-buttons side="secondary">
			<button class="button icon-left ion-navicon button-clear" ng-click="aluno.abrirMenu()">
	    	</button>
		</ion-nav-buttons>
		<ion-content padding="true" class="gradiente" >
			<div class="row">
				<div class="col">
		 			{{aluno.unidadeSelecionada}}
		  		</div>
			</div>
			<div class="row">
				<div class="col">
					  {{aluno.turmaSelecionada}}
				</div>
			</div>
			<div class="row">
				<div class="col">
					{{aluno.componenteCurricularSelecionado}}
				</div>
			</div>
			<div class="row">
				<div class="col">
					  {{menu.data()|date:'dd/MM/yyyy'}}
				</div>
			</div>
			<date-picker-directive date-picker-object = "aluno.datePickerObject" dados-turma="aluno.dadosTurma" class="item item-input">
        <div class="input-label" style="width: 100%">
          <b>Data:</b>
          <div style="float: right;">
            <span>{{aluno.dataSelecionada|date:"dd/MM/yyyy"}}</span>
            &nbsp;
            <i class="ion-calendar"></i>
          </div>
        </div>
			</date-picker-directive>

				<a class="button button-positive button-block" ng-click="aluno.lancarFrequencia(aluno.dataSelecionada, aluno.idTurma, aluno.idComponente)" >Continuar</a>
		</ion-content>
</ion-view>
