<ion-view title="Data: {{aluno.dataSelecionada|date:'dd/MM/yyyy'}}" ng-controller="lancarFrequenciaController as aluno" cache-view="false" >
		<ion-nav-buttons side="left">
			<button class="button icon-left ion-arrow-left-c button-clear"  ng-click="aluno.lancarFaltaAluno(aluno.turmaSelecionada)"  ng-hide="aluno.isMenuAberto()">
			<img class="icon-stroke" ng-src="img/logo-stroke.png"/>
	      </button>
		</ion-nav-buttons>
		<ion-nav-buttons side="secondary">
			<button class="button icon-left ion-navicon button-clear" ng-click="aluno.abrirMenu()">
	    	</button>
		</ion-nav-buttons>
		<ion-content  scroll="false" padding="true" class="gradiente">
			<ion-list>
				<ion-item class="item item-avatar  item-text-wrap" ng-click="aluno.detalhar()">
					<img src="img/avatar_default.gif"/>
          <button class="button lancamento_seta"><i class="ion-chevron-right"></i></button>
					<h2>{{aluno.aluno.nome}}</h2>
					<p>Matrícula: {{aluno.aluno.codigo}}</p>
				</ion-item>
			</ion-list>
		</ion-content>	
    <ion-content padding="true" style="margin-top: 105px;">
			<lancar-frequencia-directive horario-inicio="{{item.horario_inicio}}" horario-fim="{{item.horario_termino}}" aluno-selecionado="{{aluno.alunoSelecionado}}" data="aluno.dataSelecionada" componente-selecionado="{{aluno.componenteSelecionado}}" turma-selecionada="{{aluno.turmaSelecionada}}" ng-repeat="item in aluno.horarios">
			</lancar-frequencia-directive>
			<a class="button button-positive button-block" ng-click="aluno.lancarFaltaAluno(aluno.turmaSelecionada)">Voltar</a>
		</ion-content>
</ion-view>

