<div class="row">
  <div class="col col-10" style="left: 0;position: absolute;">
    <button class="button-clear color_blue" ng-click="prevMonth()" ng-class="{'pointer_events_none':(disablePreviousDates && previousDayEpoch > currentMonthFirstDayEpoch)}">
      <i class="icon ion-chevron-left"></i>
    </button>
  </div>
  <div class="col col-80 text-center" style="margin: auto;">
    <div class="row select_section">
      <div class="col-50">
        <div class="list">
          <label class="item item-input item-select">
            <select ng-model="currentMonth" ng-change="monthChanged(currentMonth)">
              <option value="{{month}}" ng-repeat="month in monthsList" ng-selected="month == currentMonthSelected">{{month}}</option>
            </select>
          </label>
        </div>
      </div>
      <div class="col-50" style="margin-left: 5px;">
        <div class="list">
          <label class="item item-input item-select">
            <select ng-model="currentYear" ng-change="yearChanged(currentYear)">
              <option value="{{year}}" ng-repeat="year in yearsList" ng-selected="year == currentYearSelected">{{year}}</option>
            </select>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="col col-10" style="position: absolute;right: 10px;">
    <button class="button-clear color_blue" ng-click="nextMonth()" ng-class="{'pointer_events_none':(disableFutureDates && nextDayEpoch < currentMonthLastDayEpoch)}">
      <i class="icon ion-chevron-right"></i>
    </button>
  </div>
</div>
<div class="">
  <div class="row">
    <div class="col" ng-repeat="weekName in weekNames track by $index" style="font-weight: bold"> {{ weekName }}</div>
  </div>
  <div style="height: 180px;">
    <div class="row" ng-repeat="row in rows track by $index" style="text-align: center;">
      <div class="col no_padding" ng-repeat="col in cols track by $index"
      ng-class="{'date_col': (dayList[$parent.$index * numColumns + $index].day != undefined),
      'date_selected': (dayList[$parent.$index * numColumns + $index].dateString === selctedDateString && dayList[$parent.$index * numColumns + $index].day != undefined) ,
      'today' : (dayList[$parent.$index * numColumns + $index].date == today.date && dayList[$parent.$index * numColumns + $index].month == today.month && dayList[$parent.$index * numColumns + $index].year == today.year)}">
      <div class="date_cell"  ngClass="[tem-aula,nao-tem-aula]" ng-class="[apontamento-concluido, apontamento-nao-concluido]" ng-click="dateSelected(dayList[$parent.$index * numColumns + $index])" ng-class="{'pointer_events_none':((disablePreviousDates && previousDayEpoch > dayList[$parent.$index * numColumns + $index].epochLocal) || (disableFutureDates && nextDayEpoch < dayList[$parent.$index * numColumns + $index].epochLocal))}" >
        {{ dayList[$parent.$index * numColumns + $index].date }}
      </div>
    </div>
  </div>
</div>
</div>
<div class="error_msg" ng-show="date_selection.submitted === true && date_selection.selected === false">Por favor escolha um dia.</div>
<div class="spacer" ng-hide="data_calendario_invalida" style="height:40px"></div>
<div class="error_msg"ng-show="data_calendario_invalida" style="height:40px">{{erroCalendario}}</div>
<div class="error_msg" ng-hide="true">Apontamento diário não concluído. </div>
