<ion-view title="Selecione o Componente" ng-controller="listarComponenteCurricularController as componente" cache-view="false">
	<ion-nav-buttons side="left">
      <button class="button icon-left ion-arrow-left-c button-clear" ng-click="componente.voltar(componente.backView)" ng-hide="componente.isMenuAberto()">
      </button>
      <img class="icon-stroke" ng-src="img/logo-stroke.png"/>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
    	<button class="button icon-left ion-navicon button-clear" ng-click="componente.abrirMenu()">
      </button>
    </ion-nav-buttons>
    <div class="bar bar-subheader item-input-inset bar-positive">
  		<ion-input class="item-input-wrapper">
    		<i class="icon ion-ios-search placeholder-icon"></i>
    		<input type="search" placeholder="Pesquisar componente curricular" ng-model="componente.txtBusca">
   		</ion-input>
	</div>
	<ion-content padding="true" scroll="true" style="margin-top:34px" class="gradiente">
		<ion-list>
 			<ion-item class="item item-text-wrap"  collection-repeat="item in componente.componentes |filter:txtBusca" ng-click="componente.recuperarModulos(item.id_componente_curricular)">
    			<div>{{item.descricao}}</div>
  			</ion-item>
 		</ion-list>
 	</ion-content>
</ion-view>
