<ion-view title="Diário de Classe" ng-controller="listarModuloController as modulo" cache-view="false">
	<ion-nav-buttons side="left">
		<img class="icon-stroke" ng-src="img/logo-stroke.png"/>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
    	<button class="button icon-left ion-navicon button-clear" ng-click="modulo.abrirMenu()">
      	</button>
    </ion-nav-buttons>   
	<ion-content padding=true has-header="true" class="gradiente">
    <img class="avatar-professor" ng-src="img/avatar_default.gif">
    	
    	<div class="spacer" style="height:60px" ></div>
    	<div class ="dados-professor">
    		<h4>Seja bem vindo,</h4>
			<h3>{{modulo.nomeUsuario()}}!</h3>
    	</div>
		<div class="spacer" style="height:20px"></div>
		<a class="button button-positive button-block" ng-click="modulo.lancarFrequencia()">Prosseguir</a>
	</ion-content>
</ion-view>
