<ion-view title="Selecione a Turma" ng-controller="listarTurmaController as turma " cache-view="false">
	<ion-nav-buttons side="left">
      <button class="button icon-left ion-arrow-left-c button-clear " ng-click="turma.voltar(turma.backView)" ng-hide="turma.isMenuAberto()"></button>
      <img class="icon-stroke" ng-src="img/logo-stroke.png"/>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
    	<button class="button icon-left ion-navicon button-clear"  ng-click="turma.abrirMenu()" ></button>
    </ion-nav-buttons>
    <div class="bar bar-subheader item-input-inset bar-positive">
  		<ion-input class="item-input-wrapper">
    		<i class="icon ion-ios-search placeholder-icon"></i>
    		<input type="search" placeholder="Pesquisar turma" ng-model="turma.txtBusca">
   		</ion-input>
	</div>
    <ion-content padding="true" scroll="true" style="margin-top:34px" class="gradiente">	
			<ion-list>
 				<ion-item class="item item-text-wrap" collection-repeat="item in turma.turmas |filter:turma.txtBusca"  ng-click="turma.recuperarComponentes(item.id_turma)" >
    				<div>{{item.codigo}} - {{item.nome}}</div>
  				</ion-item>
 			</ion-list>
	</ion-content>
</ion-view>
