
			<div class="row">
				<div class="col"><b>Data de nascimento:</b></div>
				<div class="col">{{informacoes.nascimento_data|date:'dd/MM/yyyy'}}</div>
			</div>
			<div class="row">
				<div class="col"><b>Sexo:</b></div>
				<div class="col">{{informacoes.sexo}}</div>
			</div>
			<div class="row">
				<div class="col"><b>Necessidade especial:</b></div>
				<div class="col">
					<div ng-repeat="item in informacoes.necessidadeEspecial">
						{{item.descricao|| 'Não'}}
					</div> 
				</div>
			</div>
			<div class="row" ng-show="informacoes.necessidadeEspecial">
				<div class="col"><b>Necessita acompanhante:</b></div>
				<div class="col">
					<div>
						{{informacoes.necessitaAcompanhante}}
					</div> 
				</div>
			</div>
		
