
			<div class="row">
				<div class="col"></div>
				<div class="col">Just.</div>
				<div class="col">Nao just.</div>
				<div class="col">Total</div>
			</div>
			<div class="row">
				<div class="col">Primeiro Bimestre:</div>
				<div class="col">0</div>
				<div class="col">0</div>
				<div class="col">0</div>
			</div>
			<div class="row">
				<div class="col">Segundo Bimestre:</div>
				<div class="col">0</div>
				<div class="col">0</div>
				<div class="col">0</div>
			</div>
			<div class="row">
				<div class="col">Terceiro Bimestre:</div>
				<div class="col">0</div>
				<div class="col">0</div>
				<div class="col">0</div>
			</div>
			<div class="row">
				<div class="col">Quarto Bimestre:</div>
				<div class="col">0</div>
				<div class="col">0</div>
				<div class="col">0</div>
			</div>
				<div class="row">
				<div class="col">Total de faltas</div>
				<div class="col">0</div>
			</div>
			<div class="row">
				<div class="col">Percentual de frequencia</div>
				<div class="col">100%</div>
			</div>