
			<div class="row">
				<div class="col"><b>Matrícula:</b></div>
				<div class="col">{{informacoes.matricula}}</div>
			</div>
			<div class="row">
				<div class="col"><b>Data da matricula:</b></div>
				<div class="col">{{informacoes.data_matricula|date:"dd/MM/yyyy"}}</div>
			</div>
			<div class="row">
				<div class="col"><b>Ano/semestre:</b></div>
				<div class="col">{{informacoes.ano}} </div>
			</div>
			<div class="row">
				<div class="col"><b>Curso:</b></div>
				<div class="col">{{informacoes.curso}}</div>
			</div>
			<div class="row">
				<div class="col"><b>Serie:</b></div>
				<div class="col">{{informacoes.serie}}</div>
			</div>
			<div class="row">
				<div class="col"><b>Turma:</b></div>
				<div class="col">{{informacoes.turma}}</div>
			</div>
				<div class="row">
				<div class="col"><b>Turno:</b></div>
				<div class="col">{{informacoes.turno}}</div>
			</div>
			<div class="row">
				<div class="col"><b>Apresenta distorção idade-série:</b></div>
				<div class="col">{{informacoes.distorcaoIdade}}</div>
			</div>