.placeholder-icon:last-child {
    padding-left: 6px;
    padding-right: 6px;
}
/*

 styles do Date Picker da hora 
*/



.color_blue {
    color: rgb(56, 126, 245) !important;
}

.bg_color_blue {
    background-color: rgb(56, 126, 245);
}

.date_col:hover {
    background-color: rgba(56, 126, 245, 0.5);
    cursor: pointer;
}

.date_col:active {
    background-color: rgba(56, 126, 245, 1);
    cursor: pointer;
}

.no_padding {
    padding: 0;
}

.date_cell {
    padding: 5px;
}

.error_msg {
    color: #cc0000 !important;
    font-size: 12px;
}

.date_selected {
    background-color: rgba(56, 126, 245, 1) !important;
}

.today {
    background-color: rgba(186, 186, 186, 1);
}

.pointer_events_none {
    pointer-events: none !important;
    color: #AAAAAA;
}

.select_section{
    padding: 0;
}
.select_section label {
  padding: 12px;
}

.select_section select {
    font-size: 12px;
    font-weight: bold;
    padding: 3px;
    direction: ltr;
    left: 0;
    width: 100%;
    max-width: 100%;
}

.select_section .item-select:after {
  right: 4px;
  border-top: 4px solid;
  border-right: 4px solid rgba(0, 0, 0, 0);
  border-left: 4px solid rgba(0, 0, 0, 0);
}

/*

 fim dos styles do Date Picker da hora 
*/

/* 
inicio stiles das bosdas de list
*/
.bar-header {
    border-top-width: 0;
    border-bottom-width: 0px;
}

