@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?wizjui');
	src:url('../fonts/icomoon.eot?wizjui#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?wizjui') format('truetype'),
		url('../fonts/icomoon.woff?wizjui') format('woff'),
		url('../fonts/icomoon.svg?wizjui#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e900";
}
.icon-home2:before {
	content: "\e901";
}
.icon-home3:before {
	content: "\e902";
}
.icon-office:before {
	content: "\e903";
}
.icon-book:before {
	content: "\e904";
}
.icon-calendar:before {
	content: "\e905";
}
.icon-user:before {
	content: "\e907";
}
.icon-users:before {
	content: "\e906";
}

